<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Mangement</title>
</head>
<body>
    <form th:action="@{/addprod}" method="post">
        Product ID:<input type="text" id="id" name="id" required><br>
        Product Name: <input type="text" id="name" name="name" required><br>
        Product Quantity: <input type="text" id="quantity" name="quantity" required><br>
        <button type="submit" value="Add"> Add Product </button>
    </form>
    <br>
    <form th:action="@{/decrease}" method="post">
        Product ID: <input type="text" id="id" name="id" required><br>
        <button type="submit" value="decrease">BUY</button>
    </form>

    <a th:href="@{/ava}"> Available Products </a>
    
</body>
</html>